<h1 class="pb-3">Доходы</h1>
<div id="blocks" class="blocks d-flex flex-wrap mt-5">
    <div id="createCategory" class="block-item border border-success rounded-3 d-flex align-items-center justify-content-center me-3 mb-3">
        <img src="/images/create.png" alt="Добавить">
    </div>
</div>
<div id="modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-body p-0">
                <p class="m-0">Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.</p>
            </div>
            <div class="modal-footer">
                <button id="deleteCategory" type="button" class="btn btn-success">Да, удалить</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>