<div class="header text-center mb-3">
    <img class="logo mb-5" src="/images/logo.png" alt="Логотип">
    <h1>Создайте аккаунт</h1>
</div>
<form>
    <div class="form-row align-items-center">
        <div class="col-xs-4">
            <div class="input-group mb-2">
                        <span class="input-group-text">
                            <img src="/images/person.png" alt="Пользователь">
                        </span>
                <input type="text" class="form-control" id="fullName" placeholder="ФИО">
            </div>
        </div>
        <div class="col-xs-4">
            <div class="input-group mb-2">
                        <span class="input-group-text">
                            <img src="/images/mail.png" alt="Письмо">
                        </span>
                <input type="text" class="form-control" id="email" placeholder="Электронная почта">
            </div>
        </div>
        <div class="col-xs-4">
            <div class="input-group mb-2">
                        <span class="input-group-text">
                            <img src="/images/lock.png" alt="Замок">
                        </span>
                <input type="password" class="form-control" id="password" placeholder="Пароль">
            </div>
        </div>
        <div class="col-xs-4 mb-3">
            <div class="input-group mb-2">
                        <span class="input-group-text">
                            <img src="/images/lock.png" alt="Замок">
                        </span>
                <input type="password" class="form-control" id="passwordRepeat" placeholder="Подтверждение пароля">
            </div>
        </div>
        <div class="col-xs-4">
            <button id="process" type="button" class="btn btn-primary mb-2 w-100">Войти</button>
        </div>
        <div class="col-xs-4">
            <span>Уже есть аккаунт? <a href="#/login">Войдите в систему</a></span>
        </div>
    </div>
</form>